:root{
    --green:#44bba4;
    --blue:#3f88c5;
    --black:#393e41;
    --orange:#e94f37;
    --offWhite:#f6f7eb;
    --danger:#dc3545;
    --lightOrange:#fed38f;
    --offWhiteLight:#fafafa;
    --lightWord:#858586;
    --success:#4bb543;
}

.smallWord{
    font-size:10px;
}

body {
    margin:0;
}